<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/stylelogin.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <div class="w3layouts-main">
          <div class="bg-layer login">
            <h1>



            </h1>
            <div class="header-main" style="z-index:0">
              <div class="main-icon">
                <span ><img src="https://ik.imagekit.io/slashit/choco_divine/2222-removebg-preview_KfrjXNTs2-.png" alt="" style="width:100px;height:100px" class="center"></span>
              </div>
              <div class="header-left-bottom">
                <form action="/login" method="POST">
                  <div class="icon1">
                    <span class="fa fa-user"></span>
                    <input
                        class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
                        type="email"
                        name="email"
                        placeholder="Enter Email"
                        id="email"
                        value="<%= oldInput.email %>">
                  </div>
                  <div class="icon1">
                    <span class="fa fa-lock"></span>
                    <input
                        class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
                        type="password"
                        name="password"
                        placeholder="Enter Password"
                        id="password"
                        value="<%= oldInput.password %>">
                  </div>
                  <!-- <div class="login-check">
                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> Keep me logged in</label>
                  </div> -->
                  <div class="bottom">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="btn" type="submit">Login</button>
                  </div>
                  <div class="links">
                    <p><a href="/reset">Forgot Password?</a></p>
                    <p class="right"><a href="/signup" >New User? Register</a></p>
                    <div class="clear"></div>
                  </div>
                </form>
              </div>
              <div class="social">
                <ul>

                <a href="/auth/google" ><button type="button" name="button">Sign In </button> </a>
                </ul>
              </div>
            </div>
        <!-- <form class="login-form" action="/login" method="POST">
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input
                    class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
                    type="email"
                    name="email"
                    id="email"
                    value="<%= oldInput.email %>">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input
                    class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
                    type="password"
                    name="password"
                    id="password"
                    value="<%= oldInput.password %>">
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Login</button>
        </form> -->

    </main>
<%- include('../includes/end.ejs') %>
