<%- include('../includes/head.ejs') %>
    <!-- <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css"> -->
    <link rel="stylesheet" href="/css/stylelogin.css">

</head>

<body>
   <%- include('../includes/navigation.ejs') %>
   <main>
       <div class="w3layouts-main">
         <div class="bg-layer login">
           <h1>



           </h1>
           <div class="header-main" style="z-index:0">
             <% if(errorMessage) { %>
               <div class="user-message user-message--error"><%= errorMessage %></div>
             <% } %>
             <div class="main-icon">
               <span ><img src="/images/logo.png" alt="" style="width:100px;height:100px" class="center"></span>
             </div>
             <div class="header-left-bottom">

               <form class="form-horizontal" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST" enctype="multipart/form-data">
                 <div class="icon1">
                   <input
                       class="<%= validationErrors.find(e => e.param === 'title') ? 'invalid' : '' %>"
                       type="text"
                       name="title"
                       id="title"
                       placeholder="PRODUCT TITLE"
                      class="form-control input-md"
                       value="<% if (editing || hasError) { %><%= product.title %><% } %>">

                 </div>
                 <div class="icon1">
                   <input
                       class="<%= validationErrors.find(e => e.param === 'price') ? 'invalid' : '' %>"
                       type="text"
                       name="price"
                       id="price"
                      placeholder="ENTER PRICE"
                      class="form-control input-md"
                       value="<% if (editing || hasError) { %><%= product.price %><% } %>">
                 </div>
                 <div class="icon1">
                   <textarea
                       class="<%= validationErrors.find(e => e.param === 'description') ? 'invalid' : '' %>"
                       name="description"
                       id="description"
                       style="width:200px"
                       placeholder="PRODUCT DESCRIPTION"
                        class="form-control input-md"
                       rows="5"><% if (editing || hasError) { %><%= product.description %><% } %></textarea>
                 </div>
                 <div class="icon1">
                   <input
                       type="file"
                       name="image"
                       id="image" >
                 </div>
                 <!-- <div class="login-check">
                   <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> Keep me logged in</label>
                 </div> -->
                 <div class="bottom">
                   <% if (editing) { %>
                       <input type="hidden" value="<%= product._id %>" name="productId">
                   <% } %>

                   <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                   <button class="btn btn-success" type="submit"><% if (editing) { %>Update Product<% } else { %>Add Product<% } %></button>
                 </div>

               </form>
             </div>




    </main>
<%- include('../includes/end.ejs') %>
