<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <!-- try -->

<form class="form-horizontal center" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST" enctype="multipart/form-data">
<fieldset>

<!-- Form Name -->




<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="product_name">PRODUCT NAME</label>
  <div class="col-md-4">
    <input
        class="<%= validationErrors.find(e => e.param === 'title') ? 'invalid' : '' %>"
        type="text"
        name="title"
        id="title"
        placeholder="PRODUCT TITLE" class="form-control input-md"
        value="<% if (editing || hasError) { %><%= product.title %><% } %>">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="product_id">PRODUCT PRICE</label>
  <div class="col-md-4">
    <input
        class="<%= validationErrors.find(e => e.param === 'price') ? 'invalid' : '' %>"
        type="number"
        name="price"
        id="price"
        step="0.01"
        placeholder="PRICE" class="form-control input-md"
        value="<% if (editing || hasError) { %><%= product.price %><% } %>">

  </div>
</div>


<!-- Text input-->


<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="product_description">PRODUCT DESCRIPTION</label>
  <div class="col-md-4">
    <textarea
        class="<%= validationErrors.find(e => e.param === 'description') ? 'invalid' : '' %>"
        name="description"
        id="description"
        placeholder="DESCRIPTION" class="form-control input-md"
        rows="5"><% if (editing || hasError) { %><%= product.description %><% } %></textarea>
  </div>
</div>

<!-- Textarea -->

<!-- Text input-->
<!-- <div class="form-group">
  <label class="col-md-4 control-label" for="percentage_discount">PERCENTAGE DISCOUNT</label>
  <div class="col-md-4">
  <input id="percentage_discount" name="percentage_discount" placeholder="PERCENTAGE DISCOUNT" class="form-control input-md" required="" type="text">

  </div>
</div> -->


 <!-- File Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="filebutton">main_image</label>
  <div class="col-md-4">
    <input
        type="file"
        name="image"
        id="image" >
  </div>
</div>

<!-- Button -->
<div class="form-group">

  <div class="col-md-4">
    <% if (editing) { %>
        <input type="hidden" value="<%= product._id %>" name="productId">
    <% } %>

    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button class="btn btn-success" type="submit"><% if (editing) { %>Update Product<% } else { %>Add Product<% } %></button>
  </div>
  </div>

</fieldset>
</form>
<!-- try ends -->

            <!-- <div class="form-control">
                <label for="title">Title</label>
                <input
                    class="<%= validationErrors.find(e => e.param === 'title') ? 'invalid' : '' %>"
                    type="text"
                    name="title"
                    id="title"
                    value="<% if (editing || hasError) { %><%= product.title %><% } %>">
            </div> %> -->
            <!-- <div class="form-control">
                <label for="imageUrl">Image URL</label>
                <input
                    class="<%= validationErrors.find(e => e.param === 'imageUrl') ? 'invalid' : '' %>"
                    type="text"
                    name="imageUrl"
                    id="imageUrl"
                    value="<% if (editing || hasError) { %><%= product.imageUrl %><% } %>">
            </div> -->
            <!-- <div class="form-control">
                <label for="image">Image</label>
                <input
                    type="file"
                    name="image"
                    id="image" >
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input
                    class="<%= validationErrors.find(e => e.param === 'price') ? 'invalid' : '' %>"
                    type="number"
                    name="price"
                    id="price"
                    step="0.01"
                    value="<% if (editing || hasError) { %><%= product.price %><% } %>">
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea
                    class="<%= validationErrors.find(e => e.param === 'description') ? 'invalid' : '' %>"
                    name="description"
                    id="description"
                    rows="5"><% if (editing || hasError) { %><%= product.description %><% } %></textarea>
            </div>
            <% if (editing) { %>
                <input type="hidden" value="<%= product._id %>" name="productId">
            <% } %>

            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit"><% if (editing) { %>Update Product<% } else { %>Add Product<% } %></button>
        </form> -->
    </main>
<%- include('../includes/end.ejs') %>
