<%- include('../includes/head.ejs') %>
		<link rel="stylesheet" href="/css/forms.css">
		<link rel="stylesheet" href="/css/cart.css">
		</head>

		<body>
			<%- include('../includes/navigation.ejs') %>
			<main>
				<% if (errorMessage) { %>
					<div class="user-message user-message--error"><%= errorMessage %></div>
				<% } %>
				<div class='container' style="z-index:0">
					<div class='window' style="z-index:0">
						<div class='order-info' style="overflow-y:scroll">
							<div class='order-info-content'>
								<h2>Order Summary</h2>
								<div class='line'></div>
								<% products.forEach(p => { %>
									<table class='order-table'>
										<tbody>
											<tr>
												<td>
													<img src='<%= p.productId.imageUrl %>' class='full-width'></img>
												</td>
												<td>
													<br>
													<span class='thin'>
														<%= p.productId.title %>
													</span>
													<br>
													<%= p.productId.description %>
													<br>
													<span class='thin small'>
														Quantity :  <%= p.quantity %>
														<br>
														<br>
													</span>
												</td>
											</tr>
											<tr>
												<td>
													<div class='price'>
														Price : <%= p.productId.price %>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
									<div class='line'></div>
								<% }) %>
							</div>
						</div>

							<div class='credit-info'>
									<form action="/create-order" method="POST" enctype="multipart/form-data">
								<div class='credit-info-content'>
									Name :
									<input
										class='input-field'
										type="text"
    	              name="naam"
      	            id="naam"
      	            value="">
									Address :
									<input
										class='input-field'
										type="text"
                	  name="location"
                  	id="location"
      	            value="">
									Phone No :
									<input
										class='input-field'
										type="text"
        	          name="nmbr"
          	        id="nmbr"
      	            value="">
									<table class='input-table'>
										<tr>
											<td>
												City :
												<input
													class='input-field'
													type="text"
	                  			name="city"
  	                			id="city"
      	            			value="">
											</td>
											<td>
												Pincode :
												<input
													class='input-field'
													type="text"
              				    name="pincode"
                  				id="pincode"
      	            			value="">
											</td>
										</tr>
									</table>
									<div>
										<span style='float:left;'>
											<div class='thin dense'>
												Discount :
											</div>
											<div class='thin dense'>
												Delivery Charges :
											</div>
											TOTAL :
										</span>
										<span style='float:right; text-align:right;'>
											<div class='thin dense'>
												0.0
											</div>
											<div class='thin dense'>
												0.0
											</div>
											<%= totalSum %>
										</span>
									</div>
									<input type="hidden" name="_csrf" value="<%= csrfToken %>">
									<button class="btn" type="submit">Pay on Delivery</button>
								</div>
												</form>
							</div>

					</div>
				</div>
			</main>
			<%- include('../includes/end.ejs') %>
